
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
:root {
    --PrincipalF: font-family 'Roboto', sans-serif;
    --SecondaF: font-family 'Poppins', sans-serif;
}
body {
    background: #407261;


}


.all_wizart{
   
   

}
.wizard {
    position: absolute;
    width:60%;
    height:60%;
    border: 3px solid black;
    left:20%;
    top:10%;
    background:rgba(0,0,0,0.5);
}

/*------------------------title and labls----------------------------------*/

.labl1-Title{
    font-family:var(--SecondaF);


}

/*olthers labels*/
.labl1{
    font-family:var(--PrincipalF);
}

/*textbox-text*/
.textbox-text{
    font-family:var(--PrincipalF);

}
/*-----------end------ */
/* textbox*/

.textbox{
    outline:none;
    width:200px;

}


.nextbtn {
    position: relative;
    top: -10px;
    background: #77823e;
    width: 80px;
    border-radius: 15px;
    height: 20px;
    border: none;
    margin-right: 3px;
    font-family: var(--PrincipalF);
}
.saving {
    
    position: relative;
    top: -9px;
    left:160px;
    background: #77823e;
    width: 130px;
    border-radius: 15px;
    height: 20px;
    border: none;
    margin-right: 3px;
    font-family: var(--PrincipalF);
}

.SideBarButton {
    text-decoration: none;
    padding: 3px 2px;
    background-color: rgba(0,0,0,0.5);
    font-size: 17px;
    font-family: var(--PrincipalF);
    color: aquamarine;
}
.ix{
    font-size:10px;
}


/* user card */
.card{

    position:relative;
    left:50px;
    top:14px;
    width:150px;
    height:100px;
    border-radius:20px;
    box-shadow: 0 35px 80px rgba(0,0,0,0.5);
    transition:4s ease-in-out;
   
}

    .card:hover {
        height: 200px;
        width: 200px;
        background: linear-gradient(43deg, #d0bc41 0%, #377767 46%, #0a0804 100%);
        transition: 4s ease-in-out;
       
    }

.photo{
    position:absolute;
   width:70px;
   height:70px;
   border-radius:20px;
   left:0;
   right:0;
   top:0;
}

.profile-img {
    position: absolute;
    top: -24%;
    left: 26%;
    box-shadow: 0 18px 58px rgba(0,0,0,0.5);
    transform:translateY(-50%);
    background:transparent ;
    border-radius: 16px;
    transition:4s ;
    width:71px;
    height:71px;
}
.card:hover .photo {
    left: 0;
    transition: 4s ease-in-out;
}
.card:hover .profile-img {
    width: 71px;
    height: 71px;
    left: 65px;
    top: 10px;
    background: aquamarine;
    transition: 4s ease-in-out;
}
.mari {
    visibility:hidden
}

.card:hover .mari{
    transition: 4s ease-in-out 4s;
    visibility: visible;
}
/*end*/

/*user details*/

.user-details{

    position:absolute;
    width:100%;
    height:100%;
    align-items:center;

}
.user-details-display{
    position:absolute;
    top:50%;
    text-align:center;
}
.user-title1 {
   position:relative;
   top:-30px;
   font-family:var(--PrincipalF);
   font-size:large;
   letter-spacing:2px;
   left:8px;
   color:antiquewhite;
   opacity:0.90;
}
.user-detail-titles {
    font-family: var(--PrincipalF);
    font-size: small;
    color: antiquewhite;
    position:relative;
    top:-20px;
}
.user-detail-content {
    font-family: var(--PrincipalF);
    font-size: small;
    color: aquamarine;
    position: relative;
    top: -20px;
}
.loading{
    position:fixed;
    top:65%;
  

    left:20%;
}
.btnloading{
    font-family:var(--PrincipalF);
    text-decoration:none;
    padding:7px 8px;
    background:rgba(0,0,0,0.5);
    letter-spacing:2px;
}

.abc {
    visibility: hidden;
}


/*login are -----------*/
.textbox-userN , .textbox-userP{
    position:relative;
    left:35%;
    border:none;
    border-bottom: 3px solid black;
    outline:none;
    background:transparent;
    text-align:center;
    font-family:var(--PrincipalF);

}
.createA {
    position: relative;
    left: 40%;
    text-align: center;
    color: indianred;
    font-family: var(--PrincipalF);
}
.login-btn1 {
    position: absolute;
    left:38%;
   
    background: #77823e;
    width: 130px;
    border-radius: 15px;
    height: 20px;
    border: none;
    font-family: var(--PrincipalF);
}
.login-status {
    position: relative;
    left: 36%;
}
.createNewAccunt-btn {
    position: relative;
    right: 20px;
    top: -10px;
    background: #77823e;
    width: 130px;
    border-radius: 15px;
    height: 20px;
    border: none;
    font-family: var(--PrincipalF);
}

/*end*/
